Amber's conglomerate corporation just acquired some new companies. Each of the companies follows this hierarchy:

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458531031-249df3ae87-ScreenShot2016-03-21at8.59.56AM.png" alt="Hierarchy">
</div>

Given the table schemas below, write a query to print the company_code, founder name, total number of lead managers, total number of senior managers, total number of managers, and total number of employees. Order your output by ascending company_code.

**Note:**
- The tables may contain duplicate records.
- The company_code is a string, so sorting should not be numeric. For example, if the company_codes are C_1, C_2, and C_10, the ascending order should be C_1, C_10, and C_2.

---

### **Input Format**

The following tables contain company data:

- **Company:** The company_code is the code of the company and founder is the founder of the company.

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458531125-deb0a57ae1-ScreenShot2016-03-21at8.50.04AM.png" alt="Company Table">
</div>

- **Lead_Manager:** The lead_manager_code is the code of the lead manager, and the company_code is the code of the working company.

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458534960-2c6d764e3c-ScreenShot2016-03-21at8.50.12AM.png" alt="Lead Manager Table">
</div>

- **Senior_Manager:** The senior_manager_code is the code of the senior manager, the lead_manager_code is the code of its lead manager, and the company_code is the code of the working company.

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458534973-6548194998-ScreenShot2016-03-21at8.50.21AM.png" alt="Senior Manager Table">
</div>

- **Manager:** The manager_code is the code of the manager, the senior_manager_code is the code of its senior manager, the lead_manager_code is the code of its lead manager, and the company_code is the code of the working company.

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458534988-7fc0af46ce-ScreenShot2016-03-21at8.50.29AM.png" alt="Manager Table">
</div>

- **Employee:** The employee_code is the code of the employee, the manager_code is the code of its manager, the senior_manager_code is the code of its senior manager, the lead_manager_code is the code of its lead manager, and the company_code is the code of the working company.

<div style="text-align: center;">
    <img src="https://s3.amazonaws.com/hr-challenge-images/19505/1458535002-d47f63cbb4-ScreenShot2016-03-21at8.50.41AM.png" alt="Employee Table">
</div>

---

### **Sample Output**

| Company_Code | Founder  | Lead Managers | Senior Managers | Managers | Employees |
|-------------|---------|--------------|---------------|---------|-----------|
| C1          | Monika  | 1            | 2             | 1       | 2         |
| C2          | Samantha| 1            | 1             | 2       | 2         |

---

### **Explanation**
In company **C1**, the only lead manager is **LM1**. There are two senior managers, **SM1** and **SM2**, under **LM1**. There is one manager, **M1**, under senior manager **SM1**. There are two employees, **E1** and **E2**, under manager **M1**.

In company **C2**, the only lead manager is **LM2**. There is one senior manager, **SM3**, under **LM2**. There are two managers, **M2** and **M3**, under senior manager **SM3**. There is one employee, **E3**, under manager **M2**, and another employee, **E4**, under manager **M3**.

# Solution:

In [ ]:
%%sql

SELECT
    DISTINCT(c.company_code),
    c.founder,
    COUNT(DISTINCT(l.lead_manager_code)) AS total_lead_managers,
    COUNT(DISTINCT(s.senior_manager_code)) AS total_senior_managers,
    COUNT(DISTINCT(m.manager_code)) AS total_managers,
    COUNT(DISTINCT(e.employee_code)) AS total_employees
FROM company AS c
INNER JOIN lead_manager AS l
    ON c.company_code = l.company_code
INNER JOIN senior_manager AS s
    ON c.company_code = s.company_code
INNER JOIN manager AS m
    ON c.company_code = m.company_code
INNER JOIN employee AS e
    ON c.company_code = e.company_code
GROUP BY c.founder, c.company_code
ORDER BY c.company_code;